<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

      <div class="container center-align">
        <i class="large material-icons prefix">sentiment_very_dissatisfied</i>
        <h1>Oops!</h1>
        <h2>404</h2>
        <h3>It seems the page you're looking for does not exist.</h3>
      </div>
</body>
</html>